<div class="line profile-view">

  <div class='unit size1of5 leftside'>
    <img src="http://placehold.it/130x130">
    <ul>
      <li><%= t ".age" %></li>      
      <li><%= t ".genre" %></li>      
      <li>facebook</li>
      <li>twitter</li>
    </ul>
  </div>

  <div class='unit size4of5 lastUnit rightside'> 
    <h1>NomComplet</h1>
    <ul>
      <li>
        <span class='none-attribute-given'>none given<%#= t ".none_attribute_given"  %></span>
      </li>
      <li>
        <span class='none-attribute-given'>none given<%#= t ".none_attribute_given"  %></span>
      </li>
      <li>
        <span class='none-attribute-given'>none given<%#= t ".none_attribute_given"  %></span>
      </li>
      <li>
        <span class='none-attribute-given'>none given<%#= t ".none_attribute_given"  %></span>
      </li>
    </ul>
  </div>
  
  
</div>
